{{#if this.isLarge}}
  <div class='image'>
    <img ...attributes>
    <small>View Smaller</small>
  </div>
{{else}}
  <div class='image'>
    <img ...attributes>
    <small>View Larger</small>
  </div>
{{/if}}
