<header class="header">

  <section class="container">
    <img class="img" src="/assets/images/gira.jpg" alt="">
    <h1>GIRA</h1>
    <p>A Business Analyst's Best Friend<br>Theme Park Edition</p>
    {{link-to 'Epics' 'epics' class='button'}}
    {{link-to 'Stories' 'stories' class='button'}}
  </section>
</header>

