<h1>Actual Sprint</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  {{#each sprintCollector.stories as |story|}}
    <tr>
      <td>{{story.id}}</td>
      <td>{{story.title}}</td>
      <td><button class="button" {{action 'removeStoryFromSprint' story}}>Remove</button></td>
    </tr>
  {{/each}}
  </tbody>
</table>